<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Hey<br>Football</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>

  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label class="ion-margin" >Profil</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="football-outline"></ion-icon>
          <ion-label class="ion-margin" >Vytvoriť zápas</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="link-outline"></ion-icon>
          <ion-label class="ion-margin" >Pripojiť sa na zápas</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="reader-outline"></ion-icon>
          <ion-label class="ion-margin" >Moje zápasy</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="log-in-outline"></ion-icon>
          <ion-label class="ion-margin" >Odhlásiť</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-app>