<ion-header id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Hey<br>Football</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let p of foundMatch; let i = index">
      <ion-label class="ion-text-center">
        Miesto: {{p.place}}
        <br>
        Dátum a čas: {{p.date}}
        <br>
        Skóre: {{p.scoreTeamBlue}}:{{p.scoreTeamRed}}
        <br>
      </ion-label>
      <ion-label>Kód:</ion-label>
      <ion-input value={{p.joinKey}}></ion-input>
      <ion-tab-button (click)="delete(p.joinKey)">
        <ion-icon name="trash-outline"></ion-icon>
        <ion-label>Vymazať</ion-label>
      </ion-tab-button>
  </ion-card>
</ion-content>
