ion-item {
    --border-color: white; // default underline color
    --highlight-color-invalid:white; // invalid underline color
    --highlight-color-valid:white; // valid underline color
}
ion-item.item-has-focus > ion-label{
    color: #92949c !important;
  }
a{
    color: #808289;
}
a:hover{
    color: #3171e0;
}