<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Hey<br>Football</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Meno</ion-label>
    <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Heslo</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Overiť heslo</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword" name="confirm_password"></ion-input>
  </ion-item>

  <ion-button color="dark" expand="full" (click)="signUp()">Registruj sa</ion-button>
  <p class="ion-text-center">Ak máš učet <a routerLink="/login">prihlás sa</a></p>
  <p class="ion-text-center"><a routerLink="/join">Pripojiť sa na zápas </a></p>
</ion-content>
