<ion-header>
  <ion-toolbar>
    <ion-title>Úprava profilu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs style="min-height:80px ;">
    <ion-tab-bar slot="bottom" class="ion-margin-top">
      <ion-tab-button (click)="save()">
        <ion-icon name="save-outline"></ion-icon>
        <ion-label>Uložiť</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-item>
    <ion-label position="floating">Meno</ion-label>
    <ion-input type="text" name="name" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"position="floating">Číslo dresu</ion-label>
    <ion-input type="number" name="number" [(ngModel)]="num"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
  </ion-item>

</ion-content>